<li [ngClass]="{'list-group-item' : true,
                'list-group-item-success' : isLoved() == true,
                'list-group-item-danger' : isLoved() == false}"><div class="row">
  <div class="col-md-9 col-sm-12">
    <h3>{{postTitle}} </h3>
  </div>
  <div class="col-md-3 col-sm-12">
    <small class="post-created-date">{{postCreatedDate| date: 'dd MMMM y, HH:mm a' | uppercase}}</small>
  </div>
  </div>
  <p>{{postContent}}</p>
  <div class="row">
    <div class="col-xs-10">
      <button class="btn btn-success" (click)="onLoveIt()">Love it</button>
      <button class="btn btn-danger" (click)="onDontLoveIt()">Don't love it</button>
    </div>
    <div class="col-xs-2">
        <span [ngClass]="{'glyphicon': true,
                      'glyphicon-thumbs-up' : isLoved() == true,
                      'glyphicon-thumbs-down' : isLoved() == false,
                      'glyphicon-exclamation-sign' : hasVotes() == false}" aria-hidden="true"></span>
      <p *ngIf="hasVotes() == true">Note : {{postLoveIts}}</p>
      <p *ngIf="!hasVotes()">Soyez le premier à noter ce post</p>
    </div>
  </div>
</li>
